<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prosjekter</title>

  </head>
  <body>
  
   {% extends "template.html" %}
   {% set active_page = "" %}
   {% block content %}
    <!-- 404 Page Centered mid screen-->
    <div class="container">
      <div class="row">
        <h1> IT.gruppen projects overview </h1>
        {% for project in project_list %}
            <p>
                {{project.title}}
            </p>
        {% endfor %}
      </div>
    </div>
  {% endblock %}
    
  </body>
</html>
