<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="../static/customScript.js" crossorigin="anonymous"></script> <!-- Custom javascript file-->



  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
 
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="http://t4t5.github.io/sweetalert/dist/sweetalert.css"> 


  <!--Tables-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}"> <!-- Custom CSS file-->
  <script src="../static/customScript.js"></script>

</head>

<body>

  <div class="wrap">
    <!-- Creating navbar and setting active page -->
      {% set navigation_bar = [
          ('/', 'home', 'Hjem'),
          ('/projects', 'projects', 'Prosjekter'),
          ('/faq', 'faq', 'FAQ'),
          ('#', None, 'Om oss', [
            ('/about', 'about', 'Medlemmer'),
            ('/board', 'board', 'IT.styret'),
            ('/gallery', 'galleri', 'Galleri'),
            ('/twoday', 'twoday', 'Twoday')
          ]),
        ]
      -%}


    {% set active_page = active_page|default('home') -%}


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            
            <a class="navbar-brand" href="/">
              <img src="../static/images/it-logo-hvit.png" width="50" alt="it.gruppen logo"/>
              <span>it.gruppen</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="z-index: 1001;">
              <ul class="navbar-nav mr-auto">
                {% for item in navigation_bar %}
                  {% if item|length == 4 %}
                    <!-- Dropdown menu -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle {% if item[3]|selectattr('1', 'equalto', active_page)|list %}active{% endif %}"
                         href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item[2] }}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for sub in item[3] %}
                          <a class="dropdown-item {% if active_page == sub[1] %}active{% endif %}" href="{{ sub[0] }}">{{ sub[2] }}</a>
                        {% endfor %}
                      </div>
                    </li>
                  {% else %}
                    <!-- Regular menu item -->
                    <li class="nav-item">
                      <a class="nav-link {% if active_page == item[1] %}active{% endif %}" href="{{ item[0] }}">{{ item[2] }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <!-- NHHS logo -->
              <div class="col-m" id="'NHHS-logo'">
                  <a class="navbar-brand" href="https://www.nhhs.no" target="_blank">
                      <img src="../static/images/nhhsLogos/nhhsLogoHvit.png" height="30" class="d-inline-block align-top"
                           alt="">
                  </a>
              </div>
            </div>
          </div>
        </nav>
  
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>

    
    <div id="footer">
      {% block footer %}
      <footer class="bg-light text-center text-lg-start">
         <!-- Copyright  -->
        <div class="text-center p-3" style="color:#1F4766;">
          © 2025
          <a class="text-dark" href="https://it.nhhs.no"> it.gruppen</a>
    
          <img src="../static/images/group_logo/it.png"  height="40" style="padding-left: 0.5%;">
    
        </div>
      </footer>
    
    </div> 

    {% endblock %}

 
</body>

</html>
